<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/colorLibrary.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/s-settings.css">
    <link rel="stylesheet" href="/css/styleLibrary.css">
    <!-- CUSTOM CSS HERE -->
    <title>PLM Study Plan Checker</title>
</head>
<body>
    <!--HEADER-->
    <%- include ('header.ejs') %>

    <!--CONTENT-->
    <main>
        <h1>Account Info</h1>
        <div class="accountInfo">
            <h2>Details</h2>
            <table>
                <tr>
                    <td>Account Name</td>
                    <td><%= session.user.firstName %> <%= session.user.lastName %></td>
                </tr>
                <tr>
                    <td>University</td>
                    <td>Pamantasan ng Lungsod ng Maynila</td>
                </tr>
                <tr>
                    <td>Site Version</td>
                    <td>2.0.0</td>
                </tr>
            </table>
        </div>
        <div class="accountInfo">
            <h2>Support</h2>
            <table>
                <tr>
                    <td>Full-Stack Developer</td>
                    <td>Jirrel Christopher B. Ong</td>
                </tr>
                <tr>
                    <td>Project Manager</td>
                    <td>Karl Frederick S. Contreras</td>
                </tr>
                <tr>
                    <td>Developer</td>
                    <td>Kyla L. Lumane</td>
                </tr>
                <tr>
                    <td>Developer</td>
                    <td>Trixia T. Magpatoc</td>
                </tr>
                <tr>
                    <td>Quality Analyst</td>
                    <td>Chrizel M. Manuel</td>
                </tr>
                <tr>
                    <td>Quality Analyst</td>
                    <td>Adrieanne A. Mahilom</td>
                </tr>
                <tr>
                    <td>Technical Writer</td>
                    <td>Jose Gabriel L. Argueza</td>
                </tr>                
            </table>
        </div>
        <div class="buttons">
            <div class="smallButton clickable" onclick="openPopup('popup1')">
                <h5>Change Password</h5>
            </div>
        </div>

        <div class="overlay hidden" id="overlayDiv"></div>

        <div class="popupLarge hidden" id="popup1">
            <h1>Create Password</h1>
            <form action="/dashboard/account/settings/changepassword" method="post">
                    <div class="row1">
                        <h5>Current Password:</h5>
                        <div class="formTextContainer item1">
                            <input type="text" name="currentPassword" id="currentPassword" class="formTextContent" required>
                        </div>
                    </div>
                    <div class="row1">
                        <h5>New Password:</h5>
                        <div class="formTextContainer item1">
                            <input type="text" name="newPassword" id="newPassword" class="formTextContent" required>
                        </div>
                    </div>
                    <div class="row1">
                        <h5>Confirm Password:</h5>
                        <div class="formTextContainer item1">
                            <input type="text" name="confirmPassword" id="confirmPassword" class="formTextContent" required>
                        </div>
                    </div>
                    <div class="rowLast">
                        <button type="button" class="buttonWhite clickable" onclick="closePopup('popup1')">Cancel</button>
                        <button type="submit" class="buttonRed clickable">Done</button>
                    </div>
            </form>
        </div>
    </main>
    
    <script src="/js/functionLibrary.js"></script>
</body>
</html>