<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/colorLibrary.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/f-helpcenter.css">
    <link rel="stylesheet" href="/css/styleLibrary.css">
    <!-- CUSTOM CSS HERE -->
    <title>PLM Study Plan Checker</title>
</head>
<body>
    <!--HEADER-->
    <%- include ('header.ejs') %>

    <!--CONTENT-->
    <main>
        <h1>Faculty Help</h1>
        <div class="containerAll">
            <div class="leftContainer">
                <p>Welcome to the PLM Study Plan Checker, where, as a faculty account holder, you can efficiently track students' progress and approve or reject their subject checklists and study plans. This article provides a step-by-step guide on using the essential tools available in your dashboard.</p>
                <div>
                    <p>1. <b>Faculty Account</b>: Create, modify, and delete faculty accounts.</p>
                    <p>2. <b>Subjects</b>: Create, modify, and delete general subjects shared across multiple colleges.</p>
                    <p>3. <b>College</b>: Create, modify, and delete colleges within the institution.</p>
                    <p>4. <b>Degree</b>: Manage degrees by creating, modifying, and deleting them under respective colleges.</p>
                    <p>5. <b>Curriculum</b>: Create, modify, and delete curriculums associated with specific degrees.</p>
                    <p>6. <b>Calendar</b>: Set important dates for the academic calendar, such as the start and end of the school year and semesters.</p>
                </div>
            </div>
            <div class="verticalLine"></div>
            <div class="rightContainer">
                <div></div>
                <h3>Faculty Help</h3>
                <h3 class="clickable" onclick="">
                    <img src="/img/book.svg" alt="Help Center Icon" class="icon">
                    Subjects
                </h3>
                <h3 class="clickable" onclick="">
                    <img src="/img/book.svg" alt="Help Center Icon" class="icon">
                    Curriculum
                </h3>
                <h3 class="clickable" onclick="">
                    <img src="/img/book.svg" alt="Help Center Icon" class="icon">
                    Student Accounts
                </h3>
                <h3 class="clickable" onclick="">
                    <img src="/img/book.svg" alt="Help Center Icon" class="icon">
                    Subject Checklist
                </h3>
                <h3 class="clickable" onclick="">
                    <img src="/img/book.svg" alt="Help Center Icon" class="icon">
                    How Study Plan algorithm works
                </h3>
                <h3 class="clickable" onclick="">
                    <img src="/img/book.svg" alt="Help Center Icon" class="icon">
                    Account Info and preferences
                </h3>
            </div>
        </div>
    </main>
    
    <script src="/js/functionLibrary.js"></script>
</body>
</html>

