<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/colorLibrary.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styleLibrary.css">
    <link rel="stylesheet" href="/css/s-studyplan.css">
    <title>PLM Study Plan Checker</title>
    <script>
        var studyplan = <%- JSON.stringify(studyplan) %>
        var subjectsLibrary = <%- JSON.stringify(subjects) %>
    </script>
</head>
<body onload="generateStudyPlan()">
    <!--HEADER-->
    <%- include ('header.ejs') %>

    <!--CONTENT-->
    <main>
        <div class="buttons">
            <div class="addButton clickable item2" onclick="addSchoolYear('studyplan')">
                <h5>Add School Year</h5>
            </div>
            <div class="addButton clickable item3" onclick="submitForm()">
                <h5>Save</h5>
            </div>
        </div>
        <h1>Study Plan</h1>
        <div class="studyplan">

        </div>
    </main>
    
    <script src="/js/s-studyplan.js"></script>
    <script src="/js/functionLibrary.js"></script>
</body>
</html>