<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/colorLibrary.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styleLibrary.css">
    <link rel="stylesheet" href="/css/s-studyplan-view.css">
    <title>PLM Study Plan Checker</title>
    <script>
        var studyplan = <%- JSON.stringify(studyplan) %>
        var subjectsLibrary = <%- JSON.stringify(subjects) %>
    </script>
</head>
<body onload="generateStudyPlan()">
    <!--HEADER-->
    <%- include ('header.ejs') %>

    <!--CONTENT-->
    <main>
        <h1>Study Plan</h1>
        <div class="top">
            <form id="reset" action="/dashboard/studyplan/reset" method="post">
                <input type="hidden" name="studyplan" value="<%= studyplan._id %>">
            </form>
            <div class="buttons">
                <button class="smallButton clickable item2" type="submit" form="reset">
                    <h5>Reset</h5>
                </button>
                <div class="smallButton clickable item3" onclick="submitForm()">
                    <h5>Submit</h5>
                </div>
            </div>
        </div>
        <div class="studyplan">

        </div>
    </main>
    
    <script src="/js/s-studyplan-view.js"></script>
    <script src="/js/functionLibrary.js"></script>
</body>
</html>