.containerAll {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    gap: 30px
}

.leftContainer {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.verticalLine {
    border: 1px solid #B6B6B6;
    height: 615px;
}

.rightContainer {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}