.containerAll {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    gap: 60px
}

.leftContainer {
    width: 780px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.verticalLine {
    border: 0.5px solid #B6B6B6;
    height: 615px;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}