/* CONSTANT STYLING */
@font-face {
    font-family: inter;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

h1 {
    font-weight: 500;
    font-size: 40px;

    margin: 0;
}

h2 {
    font-weight: 500;
    font-size: 22px;

    margin: 0;
}

h3 {
    font-weight: 500;
    font-size: 20px;

    margin: 0;
}

h4 {
    font-weight: 400;
    font-size: 20px;

    margin: 0;
}

h5 {
    font-weight: 500;
    font-size: 16px;

    margin: 0;
}

p {
    font-weight: 400;
    font-size: 14px;

    margin: 0;
}

body {
    margin: 0;

    font-family: 'Inter';
    color: var(--textLight);
    text-decoration: none;

    background-color: var(--bgLight);
}

a {
    text-decoration: none;
    color: var(--textLight);
}

main {
    margin-top: 128px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    padding-left: calc((100% - 1180px) / 2);

    width: 1180px;

    position: relative
}

header {
    position: fixed;

    top: 0;
    left: 0;

    z-index: 100;

    display: flex;
    background-color: var(--headerLight);

    width: 100%;
    height: 68px;
}

/* CUSTOM HEADER STYLING */

.left, .right {
    display: flex;
    flex-basis: 50%
}

.right {
    justify-content: right;

    gap: 28px;
}

header h1 a{
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;

    padding-left: 12px;
    padding-top: 23px;
}

.logo {
    width: 40px;
    height: 40px;

    padding-top: 13px;
    padding-left: 13px;
}

.iconHeader {
    width: 15px;
    height: 15px;

    padding-top: 26px;
}

.profilePic {
    width: 34px;
    height: 34px;

    padding-top: 17px;
    padding-right: 23px;

    cursor: pointer;
}

[data-initials]:before {
    background: var(--plmRed);
    color: white;

    content: attr(data-initials); 
    display: inline-block; 

    font-family: inter;
    font-weight: 500;

    border-radius: 50%;

    vertical-align: middle; 
    margin-right: 0.5em;

    width: 34px; 
    height: 34px; 
    
    line-height: 34px; 
    text-align: center; 
    }

.hidden {
    display: none;
    visibility: hidden;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dropdown {
    background-color: var(--itemLight);
    border-radius: 16px;

    position: absolute;

    display: flex;
    flex-direction: column;

    right: 20px;
    top: 60px;

    width: 400px;
    height: 225px;

    padding-top: 25px;

    filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.05)) drop-shadow(-1px -1px 20px rgba(0, 0, 0, 0.05));

    gap: 20px;
}

.dropdownTop {
    display: flex;

    padding-left: 25px;

    align-items: center;

    gap: 10px;
}

[data-initials-big]:before {
    background: #AC2929;
    color: white;

    content: attr(data-initials-big); 
    display: table-cell; 

    font-family: inter;
    font-weight: 500;
    font-size: 20px;

    border-radius: 50%;
    
    width: 50px; 
    height: 50px; 

    vertical-align: middle; 
    text-align: center;
    
    line-height: 34px; 
}

.dropdown hr {
    margin: 0;

    border: 1px solid var(--lineLight);

    width: 100%;
    height: 0px;
}

.dropdownBottom {
    display: flex;

    flex-direction: column;

    padding-left: 40px;

    gap: 10px;
}

.choice {
    display: flex;
    cursor: pointer;

    align-items: center;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    gap: 15px;
}

.choice .icon {
    padding: 0;

    width: 20px;
    height: 20px;
}

.dropdown h2 {
    font-size: 20px;
    font-weight: 400;

    margin: 0;
}