.containerAll {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    gap: 60px
}

.leftContainer {
    width: 780px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.verticalLine_admin {
    border: 0.5px solid #B6B6B6;
    height: 4665px;
}

.verticalLine_faculty {
    border: 0.5px solid #B6B6B6;
    height: 4815px;
}

.verticalLine_student {
    border: 0.5px solid #B6B6B6;
    height: 1720px;
}

.rightContainer {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}