.studyplan {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
}

h3, h4 {
    align-self: flex-start;
}

.top {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display:flex;
    gap:10px;
    justify-content: flex-end;
}