.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.studentInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftInfo {
    display: flex;
    flex-direction: column;
}

.rightInfo {
    display: flex;
    align-items:center;
}

.rightInfo p:not(:last-child) {
    margin: 0;
    padding-right: 10px;
}

.rightInfo2{
    display: flex;
    padding-right: 30px;
    margin-top: -5px;
}

.top{
    display: flex;
    justify-content: space-between;
}

.buttons form{
    display: flex;
    gap: 20px;
    align-items: center;
}

.buttons.approve{
    justify-content: flex-end;
    padding-bottom: 40px;
}

.buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.studyplan {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
}

h3, h4 {
    align-self: flex-start;
}